figs/*
**/__pycache__
*.log
*.auxlock
*.synctex.gz
*.aux
*.swp
**/*.pdf
*.bcf
*.blg
*.bbl
*.out
*.run.xml


# Emacs clutter
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

