figs/*
**/__pycache__
*.log
*.auxlock
*.synctex.gz
*.aux
*.swp
**/*.pdf
!**/feedback/*.pdf
!**/pdfs/*.pdf
*-blx.bib
*.bcf
*.blg
*.bbl
*.out
*.run.xml
**/tikz
**/.*_cache*
**/*.tar.gz

# Emacs clutter
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# Latexmk
*.fls
*.fdb_latexmk
