{
	'editor.showInvisibles' : false
	'editor.tabLength' : 4
	core :
		themes : [
			'atom-material-ui'
			'atom-material-syntax'
		]
	"atom-material-ui":
		colors:
			abaseColor: "#80deea"
			accentColor: "#528c94"
			predefinedColor: "Cyan"
		tabs:
			tintedTabBar: true
		ui:
			panelContrast: true
}
